@font-face {
    font-family: 'LB';
    src: url('/fonts/librebaskerville.woff2') format('woff2');
}

* {
    font-family: 'LB';
}

html {
    background-color: #FFF8E1;
    display: grid;
    place-items: center;
    height: 100vh;
}

#main {
    padding-left: 10vw;
    box-sizing: border-box;
    width: 1024px;
    height: 50vh;
    border: 4px solid transparent;
    border-color: #424242;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            #424242 2%,
            transparent 2%,
            transparent 98%,
            #424242 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
