@font-face {
    font-family: 'LB';
    src: url('/fonts/librebaskerville.woff2') format('woff2');
}

* {
    font-family: 'LB';
}

html {
    padding: 20vw;
    box-sizing: border-box;
    background-color: #F8F8F8;
    display: grid;
    place-items: center;
    height: 100vh;
}

#intro {
    box-sizing: border-box;
    border-bottom: 2px solid black;
}

#name {
    font-size: 22px;
}

#summary {
    font-size: 16px;
}

a {
    color: black;
    text-decoration-style: dashed;
}

a:hover {
    color: #626262;
}

#content {
    text-align: center;
    margin-top: 10vh;
}
