@font-face {
    font-family: 'LB';
    src: url('/fonts/librebaskerville.woff2') format('woff2');
}

:root {
    --main-horizontal-padding: 20px;
    --main-vertical-padding: 25vh;
    --main-max-width: 935px;
    --font-color: #1a1a1a;
    --font-hover-color: #524b42;
    --page-bg-color: #f2ebe2;
}

@media all and (max-width: 649px) {
    :root {
        --main-content-padding: 16px;
        --main-vertical-padding: 16px;
    }
}

* {
    font-family: 'LB';
}

h1 {
    color: var(--font-color);
    line-height: 1.5;
}

p {
    color: var(--font-color);
    line-height: 1.5;
}

html {
    background-color: var(--page-bg-color);
    border: 8px solid var(--font-color);
    box-sizing: border-box;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: var(--main-vertical-padding) var(--main-horizontal-padding);
    max-width: var(--main-max-width);
    box-sizing: border-box;
}

#intro {
    box-sizing: border-box;
    border-bottom: 2px solid var(--font-color);
}

#name {
    font-size: 1.5rem;
}

#summary {
    font-size: 1rem
}

a {
    color: black;
    text-underline-offset: 0.1em;
}

a:hover {
    color: var(--font-hover-color);
}

#content {
    text-align: center;
    margin-top: 20vh;
}
